{% extends "exo.html.twig" %}

    {% block content %}


        <div id="welcome">
            <h1></h1>
            <p></p>
        </div>

        {{ parent() }}

        <section>
            <article>
                <br>
                <p>Ce n'est pas la bonne classe ! </p>
                <p>En effet la bonne classe était {{ ipClass }} Pour l'adresse {{ ip.bytes }}</p>
                <br>

                <p><a href="{{ path('exoClass')}}">Réessayer l'exercice</a></p>

            </article>
        </section>



    {% endblock %}
