{% extends "exo.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1></h1>
            <p></p>
        </div>

        {{ parent() }}

        <section>
            <article>
                <br>
                <p>C'est la bonne classe ! Bien joué </p>
                <br>
                <p><a href="{{ path('exoClass')}}">Réessayer l'éxercice</a></p>

            </article>
        </section>

    {% endblock %}
