{% extends "exo.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1>Faire des exercices</h1>
            <p>Ici vous pouvez faire des exercices sur nimporte quel chapitre.</p>
        </div>

        {{ parent() }}

        <section>
            <article>
                <br>
                <p>Ce n'est pas la bonne réponse !</p>
                <details>
                    <summary>Correction</summary>
                    <p> En effet la bonne conversion donne : {{ ip }} </p>
                </details>
                <br>
                <p><a href="{{ path('convert')}}">Réessayer l'exercice</a></p>
            </article>
        </section>

    {% endblock %}