{% extends "exo.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1></h1>
            <p></p>
        </div>

        {{ parent() }}

        <section>
            <article>
                <br>
                <p>Ce n'est pas le bon masque</p>
                <p>En effet le bon masque était : {{ mask.bytes }}</p>
                <br>
                <p><a href="{{ path('exoMask')}}">Réessayer l'éxercice</a></p>

            </article>
        </section>

    {% endblock %}