{% extends "base.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1>Faire des exercices</h1>
            <p>Ici vous pouvez faire des exercices sur nimporte quel chapitre.</p>
        </div>

        <aside id = "chapter">
            <h1>Exercices</h1>
            <ul>

                <li><a href="{{ path('convert') }}">Exo conversion</a></li>

                <li><a href="{{ path('exoClass')}}">Exo classe</a></li>

                <li><a href="{{ path('exoMask')}}">Exo masque</a></li>

                <li><a href="#">Exo table de routage</a></li>

            </ul>
        </aside>

        <section>
            <article>
                <br>
                <p>C'est le bon masque ! Bien joué </p>
                <br>
                <p><a href="{{ path('exoMask')}}">Réessayer l'éxercice</a></p>

            </article>
        </section>

   {% endblock %}