<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		{% block stylesheets %}
		<link rel="stylesheet" href="{{asset('style.css')}}" type="text/css" media="all">
		{% endblock %}
		<title>IP13</title>
	</head>

	<body>
	
		<div id="container">
			
			<div id="account">

                {% if user == null %}
                    <a href="login">Connexion</a> | <a href="newEleve">Inscription</a>
                {% else %}
                    <a href="#">{{ user.nom }}</a> | <a href="logout">Deconnexion</a>
                {% endif %}

			</div>
			<header>
				<a href="index"><img id="logo" src="img/logo.png" alt="IP13" height="60" width="60"></a><span>IP13</span>
				<nav>
					<ul id="menu">
						<li><a href="#">Cours</a>
		                    <ul>
		                        <li><a href="#">Trouver un cours</a></li>
		                        <li><a href="newChapitre">Ajouter un cours</a></li>
		                    </ul>
                		</li>
						<li><a href="exercises">Exercices</a></li>
						<li><a href="progression">Progression</a></li>
						<li><a href="#">Forum</a></li>
					</ul>
				</nav>
			</header>
			
			<div id="content">
		
				<div id="welcome">
					<h1>Consolide tes bases en Reseau avec IP13</h1>
					<p>Bienvenue à toi petit padawan. Sur ce site tu pourras suivre ton apprentissage dans le domaine du réseau,  apprendre et t'exercer, à continuer... </p>
				</div>
				
				<aside id = "chapter">
					<h1> Reseau </h1>
					<ul>
						{% for chapitre in cours.chapitres %}
                            <li>{{ chapitre.nom }}</li>
                        {% endfor %}
					</ul>
				</aside>
					
				<section>
					<article>
						<header>
							<h1>Nom premier chapitre</h1>
							<hr>
						</header>

						<p>Résumé du premier chapitre LoremIpsum na que si no na prout ehiuer eoijje eiojdhbdi duj hçuh doidiju dj duhjgdp jfdpj oidj jdi pfdijoijpoi opij ijfio ofdpijo ij oijoi joij opidj oij ijodi jpoij oijoi joi joij oijop fdijo gopjp.</p>

						<footer>
							<p>> <a href="#">Lien vers le cours</a></p>
						</footer>
					</article>
					<article>
						<header>
							<h1>Nom premier chapitre</h1>
						</header>

						<p>Résumé du premier chapitre LoremIpsum na que si no na prout ehiuer eoijje eiojdhbdi duj hçuh doidiju dj duhjgdp jfdpj oidj jdi pfdijoijpoi opij ijfio ofdpijo ij oijoi joij opidj oij ijodi jpoij oijoi joi joij oijop fdijo gopjp.</p>

						<footer>
							<p>> <a href="#">Lien vers le cours</a></p>
						</footer>
					</article>
					<article>
						<header>
							<h1>Nom premier chapitre</h1>
						</header>

						<p>Résumé du premier chapitre LoremIpsum na que si no na prout ehiuer eoijje eiojdhbdi duj hçuh doidiju dj duhjgdp jfdpj oidj jdi pfdijoijpoi opij ijfio ofdpijo ij oijoi joij opidj oij ijodi jpoij oijoi joi joij oijop fdijo gopjp.</p>

						<footer>
							<p>> <a href="#">Lien vers le cours</a></p>
						</footer>
					</article>
				</section>
				</div>
				
				<div id="all_courses">
				
					<div id="chapter1" class="courses">
		
					</div>
		
					<div id="chapter2" class="courses">
		
					</div>
				
				</div>
			
			</div>
			
		</div>
	</body>
</html> 
