{% extends "base.html.twig" %}



			
			{% block content %}

                <div id="welcome">
                    <h1>Acces refuse</h1>
                    <p>Il faût être un professeur pour accéder à cette page</p>
                    <p><a href="{{ path('index')}}">Revenir a l'accueil</a></p>
                </div>

            {% endblock %}