{% extends "base.html.twig" %}



			
			{% block content %}

                <div id="welcome">
                    <h1>Accès refusé</h1>
                    <p>Il faut être un professeur pour accéder a cette page</p>
                </div>

            {% endblock %}