{% extends "base.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1>Enregistrer un nouveau chapitre</h1>
            <p>Chapitre enregistré avec succès</p>
        </div>

    {% endblock %}