{% extends "base.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1>Enregistrer un nouveau cours</h1>
            <p>Cours enregistré avec succès</p>
        </div>

    {% endblock %}