{% extends "base.html.twig" %}

    {% block logo %}
        <a href="index"><img id="logo" src="../img/logo.png" alt="IP13" height="60" width="60"></a><span>IP13</span>
    {% endblock %}

    {% block content %}


        <div id="welcome">
            <h1 id="titreChapter"></h1>
            <p id="chapterText"></p>
        </div>

        <aside id = "chapter">
            <h1> Reseau </h1>
            <ul>
                {% for chapitre in cours.chapitres %}
                    <li class="chapterName"><a href="{{ path('showChapitre', {"id": chapitre.id}) }}">{{ chapitre.nom }}</a></li>
                {% endfor %}
            </ul>
        </aside>

        <section>
            <article>
               {{chapitre.text}}
            </article>
        </section>

    {% endblock %}