{% extends "base.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1>Inscritpion</h1>
            <p>Vous vous êtes enregistré avec succès ! Vous pouvez</p>
            <p><a href="{{ path('index')}}">Revenir a l'accueil</a></p>
        </div>
    {% endblock %}