{% extends "base.html.twig" %}

    {% block content %}

        <div id="welcome">
            <h1>Inscritpion</h1>
            <p>Vous vous êtes enregistré avec succès ! Vous pouvez maintenant vous connecter avec le lien ci-dessous</p>
            <p><a href="login">Se connecter</a></p>
            <p><a href="{{ path('index')}}">Revenir a l'accueil</a></p>
        </div>
    {% endblock %}