@font-face {
    font-family: 'Letter_G_std';
    src: url('font/LetterGothicStd.otf') format('truetype');
}

@font-face {
    font-family: 'Basic_title';
    src: url('font/BasicTitle.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucid';
    src: url('font/lucon.ttf') format('truetype');
}

body
{
	font-family: "Courier New", Courier, monospace;
	color: black;
	background-image: url(img/Background.jpg);
	background-repeat: repeat-xy;
}

#account
{
	display:block;
	float: right;
	font-family: 'Letter_G_std';
	color : rgb(97,97,97);
}

#account a
{
	text-decoration: none;
	color : rgb(97,97,97);	
}

#account a:hover
{
	text-decoration: none;
	color : rgb(0,217, 143);
}

#container
{
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 57em;
}

header
{
	display: block;
	margin-top: 1.22em;	
}

header img
{
	vertical-align: middle;
	padding-left: 20px;
}

header span
{
	vertical-align: middle;
	color : rgb(94,85,86);
	font-family: 'Letter_G_std';
	font-size: 50px;
	font-weight: bold;
	border-bottom: 3px solid rgb(0,217,143);
}

nav
{
	display: inline-block;
	vertical-align: middle;
}

#menu
{
	display: inline-block;
	float: left;
	font-size: 30px;
	font-family: 'Letter_G_std';
}

#menu li
{
	display: inline;
	list-style: none;
}

#menu li a:hover
{
	color: white;
	background-color: rgb(0,217,143);
}

#menu li:hover
{
	color: white;
}

/*#menu li:hover > a
{
	color: white;
}*/

#menu li a
{
	color : rgb(97,97,97);
	text-decoration: none;
	padding: 8px;
}

h1
{
	display: inline-block;
	color: white;
	background-color: rgb(0,217,143);
	font-size: 26px;
	text-align: center;
}

#welcome
{
	width: 100%;
}
#welcome h1
{
	font-family: 'Basic_Title';
	padding-top: 10px;
	margin: 0;
	display: block;
}

#welcome p
{
	font-family: 'Lucid';
	color : rgb(97,97,97);
	background-color: white;
	height: 100px;
	margin: 0;
	padding-top: 3%;
	text-align: center;
	padding: 3% 2em 0;
}

#chapters_menu h1
{
	margin-bottom: 0;
	margin-top: 30px;
	padding-left: 18px;
	padding-right: 18px;
}

#chapters_menu ul
{
	margin: 0;
	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: white;
	width: 10%;
	text-align: center;
}

#chapters_menu li
{
	list-style: none;
}

#chapters_menu li a:hover
{
	background-color: rgb(0,217,143);
	color: white;
	text-decoration: underline;
}

#chapters_menu li a
{
	text-decoration: none;
	color: black;
}
