@font-face {
    font-family: 'Letter_G_std';
    src: url('Font/LetterGothicStd.ttf') format('truetype');
}

@font-face {
    font-family: 'Basic_title';
    src: url('Font/BasicTitle.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucid';
    src: url('Font/lucon.ttf') format('truetype');
}

body
{
	font-family: "Courier New", Courier, monospace;
	color: black;
	background-image: url(img/Background.jpg);
	background-repeat: repeat-xy;
}

#account
{
	display:block;
	float: right;
	font-family: 'Letter_G_std';
	color : rgb(97,97,97);
}

#account a
{
	text-decoration: none;
	color : rgb(97,97,97);
	font-weight: bolder;	
}

#account a:hover
{
	text-decoration: none;
	color : rgb(0,217, 143);
}

#container
{
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 57em;
}

header
{
	display: inline-block;
	margin-top: 0em;	
	margin-bottom: 2em;
}

header img
{
	vertical-align: middle;
	padding-left: 20px;
}

header span
{
	vertical-align: middle;
	color : rgb(94,85,86);
	font-family: 'Letter_G_std';
	font-size: 50px;
	font-weight: bold;
	border-bottom: 3px solid rgb(0,217,143);
}

a.hidden{
	text-decoration: none;
}

nav
{
	display: inline-block;
	vertical-align: middle;
}

/* MENU */

#menu
{
	display: inline-block;
	float: left;
	font-size: 30px;
	font-family: 'Letter_G_std';
	vertical-align: middle;
}

#menu li
{
	display: inline;
	list-style: none;
}

#menu li a:hover, #menu li:hover > a
{
	color: white;
	font-weight: bold;
	background-color: rgb(0,217,143);
}

#menu li:hover
{
	color: white;
}

#menu li a
{
	color : rgb(97,97,97);
	text-decoration: none;
	padding: 8px;
}

#menu li ul
{
 	display: none;
 	background-color:rgb(0,217,143);
 	padding-left: 0;
 	margin-top: 8px;
}

#menu li ul li
{
 	display: block;
	padding: 3px;
}

#menu li ul li a
{
 	padding: 0px;
 	color: white;
}

#menu li:hover ul
{
 	display:block;
 	position: absolute;
 	font-size: 16px;
}



h1
{
	display: inline-block;
	color: white;
	background-color: rgb(0,217,143);
	font-size: 26px;
	text-align: center;
}

#welcome
{
	width: 100%;
}

#welcome h1
{
	font-family: 'Basic_Title';
	padding-top: 10px;
	margin: 0;
	display: block;
}

#welcome p
{
	font-family: 'Lucid';
	color : rgb(97,97,97);
	background-color: white;
	height: 100px;
	margin: 0;
	padding-top: 3%;
	text-align: center;
	padding: 3% 2em 0;
}

aside
{	
	display: inline-block;
	float : left;
	margin-top: 1em;
	width: 12em;
	background-color: white;
}

aside h1 
{
	font-family: 'Basic_Title';
	background-color: rgb(0,217,143);
	margin-top: 0;
	padding-top: 0.50em;
	padding-bottom: 0.25em;
	width: 100%;
	margin-bottom: 0;
	vertical-align: middle;
}

aside ul
{
	text-align: center;
	padding-left: 0;
}

aside li
{
	list-style: none;
	padding: 0.25em;
}

aside li a
{
	text-decoration: none;
	font-family: 'Lucid';
	color: rgb(97,97,97);
}

#progression li
{
    text-decoration: none;
    font-family: 'Lucid';
    color: rgb(97,97,97);
}

aside li a:hover
{
	font-weight: bold;
}

section
{
	display: inline-block;
	float: left;
	width: 43em;
	margin-left: 2em;
	margin-top: 1em;
}

section article
{
	background-color: white;
	padding-bottom: 0.25em;
	margin-bottom: 1.5em;
}

section article header
{
	width: 100%;
	margin-bottom: 0;
}

section article header h1
{
	background-color: transparent;
	color: rgb(0,217,143);
	/*color: rgb(97,97,97);*/
	margin-top: 0;
	padding-top: 0.50em;
	padding-bottom: 0.25em;
	font-family: 'Basic_Title';
	vertical-align: middle;
	margin-bottom: 0;
	font-weight: bold;
	text-align: left;
	padding-left: 1em;
}	

section article header hr
{	
	margin: 0 1em;
}

section article p
{
	font-family: 'Lucid';
	color: rgb(97,97,97);
	text-indent:1em;
	padding-left: 1em;
}

section article footer
{
	font-size: 18px;

}

section article footer a
{
	text-decoration: none;
	font-family: 'Lucid';
	color: rgb(97,97,97);
}

section article footer a:hover
{
	border-bottom: solid 2px;
	border-color: rgb(0,217,143);
	/*font-weight: bold;*/
}



/* CONNEXION / INSCRIPTION */

div.identification
{
	margin-top: 2em;
}

form#identification, form#signalement
{
	background-color: white;
}

form#identification td
{
	height: 35px;
}

form#identification table td.fields
{
	padding-bottom: 8px;
	padding-top: 8px;
}

form#identification input#btnidentification
{
	margin-right: 50px;
}

form#identification p#btns, form#signalement p#btns
{
	padding-top: 3em;
	padding-bottom: 2em;
	height: 100%;
}

form#identification p#btns input, form#signalement p#btns input, p#validCours input, input#signaler, input#modifier
{
	background-color: rgb(0,217,143);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

form#identification p#btns input:hover, form#signalement p#btns input:hover, p#validCours input:hover, input#signaler:hover, input#modifier:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form#identification table
{
	width: 25em;
	margin: auto;
	padding-top: 4em;
}


/* EXO */

input#signaler
{
	float: right;
	margin-right: 1em;
	margin-top: 7px;
    padding: 6px 18px;
}



/* SIGNALER UNE ERREUR */

section#signaler
{
	margin: 0;
	width: 100%;
}

form#signalement
{
	margin: auto;
	margin-top: 2em;
	text-align: center;
}

form#signalement textarea
{
	text-align: left;
}

/* AJOUT COURS */

h4
{
	display: inline-block;
	color: rgb(0,217,143);
	text-align: center;
	margin-left: 1em;
}

select#selectChapitre
{
	margin-left: 1em;
	margin-bottom: 1em;
}


/* COMPTE */

div.canvas
{
	display: inline-block;
	width: 10em;
}

table#progression
{
	border-spacing: 3em;
	width: 100%;
}

table#progression td
{
	display: inline-block;
	width: 10em;
	text-align: center;
	padding: 0px 15px;
}

li#modifier
{
	margin-top: 2em;
}

input#modifier
{
    padding: 5px 15px;
}


/* TABLE DE ROUTAGE */

form#routage, div.routage
{
	background-color: white;
	height: 15em;
}

form#routage table
{
	margin-top: 3em;
	width: 100%;
	text-align: center;
	border: 1px solid black;
	border-spacing: 0px;
}

form#routage table td, form#routage table th
{
	border: 2px solid black;
	padding: 6px 3px;
}

form#routage table tbody input
{
	width: 10em;
}

textarea {
    resize: none;
}







